<div class="sticky top-0 z-20 bg-muted dark:bg-surface-dark">
    <div
        class="grid grid-cols-[auto,50px] bg-muted dark:bg-surface-dark app-header bg-highlight gap-2 items-center border-t-2 border-b dark:border-t border-gray-600 h-max"
    >
        <div
            class="flex min-w-max flex-grow tabs flex-shrink-0 max-h-[40px] dark:border-x border-r border-gray-600 items-center"
        >
            <div
                *ngFor="let tab of collection.tabs.reverse(); let i = index"
                class="flex-1 max-w-[200px] w-full"
            >
                <app-tab
                    class=""
                    [idx]="i"
                    [tab]="tab"
                    [isLast]="!collection.tabs[i + 1]"
                    (tabClicked)="handleTabClick(tab)"
                    (closeTab)="handleTabClose($event)"
                >
                </app-tab>
            </div>
        </div>
        <div class="add-tab flex h-full items-center pr-1">
            <button
                (click)="addTab()"
                class="inline-flex justify-center items-center bg-transparent dark:hover:bg-muted-dark-dim hover:bg-muted-dim w-8 h-8 rounded-md font-semibold transition"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                </svg>
            </button>
        </div>
    </div>
</div>
<app-tab-title></app-tab-title>
