<div
    class="bg-muted-dim dark:bg-muted-dark-dim h-[calc(100vh-1px)] overflow-hidden sticky top-0 flex flex-col max-w-[300px]"
>
    <span *ngIf="fullSpace">
        <div
            class="w-full flex-1 h-[calc(100vh-1px)] flex flex-col max-w-[300px] relative"
        >
            <div class="w-full h-full flex-1">
                <h1
                    class="sm:text-2xl text-xl font-extrabold tracking-wider text-center shadow hover:shadow-md bg-muted-dimmer dark:bg-muted-dark-dimer p-4 border-b border-b-muted-dimer dark:border-b-muted-dark-dimer"
                >
                    RapidCheck
                </h1>
                <div class="flex p-2 items-center justify-end">
                    <button
                        (click)="toggleSpace()"
                        title="Close Panel"
                        style="animation-iteration-count: 3"
                        class="text-current animate-pulse duration-100 hover:text-sky-500 transition-all w-7 h-7 bg-muted inline-flex items-center justify-center rounded-md"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="22"
                            viewBox="0 -960 960 960"
                            width="22"
                            fill="currentColor"
                        >
                            <path
                                d="M644.152-354.001v-251.998L517.769-480l126.383 125.999Zm-446.458 214q-23.596 0-40.645-17.048-17.048-17.049-17.048-40.645v-564.612q0-23.596 17.048-40.645 17.049-17.048 40.645-17.048h564.612q23.596 0 40.645 17.048 17.048 17.049 17.048 40.645v564.612q0 23.596-17.048 40.645-17.049 17.048-40.645 17.048H197.694Zm172.766-45.384h391.846q4.616 0 8.463-3.846 3.846-3.847 3.846-8.463v-564.612q0-4.616-3.846-8.463-3.847-3.846-8.463-3.846H370.46v589.23Z"
                            />
                        </svg>
                    </button>
                </div>
                <div class="overflow-y-auto overflow-hidden max-h-[74.5%]">
                    <app-history class="w-full"></app-history>
                    <app-collections class="w-full"></app-collections>
                </div>
            </div>

            <footer
                class="block bg-muted-dimmer dark:bg-muted-dark-dimer px-4 py-2 absolute bottom-0 left-0 w-full"
            >
                <div class="flex items-center flex-col justify-center">
                    <p
                        class="text-center font-semibold text-sm tracking-wide dark:text-gray-400 leading-none p-0 m-0"
                    >
                        &copy; {{ thisYear }} RapidCheck
                    </p>
                    <p
                        class="font-semibold text-sm tracking-wide dark:text-slate-300 hover:text-sky-500"
                    >
                        <a href="https://codedeluxe.vercel.app" target="blank"
                            >@Codedeluxe</a
                        >
                    </p>
                </div>
            </footer>
        </div>
    </span>

    <div *ngIf="!fullSpace" class="w-full h-full p-1 block">
        <div class="flex flex-col gap-4 items-center w-full pt-4">
            <div class="">
                <button
                    (click)="toggleSpace()"
                    class="dark:hover:text-sky-100 hover:text-sky-400 group transition"
                    title="Main Menu"
                >
                    <svg
                        class="fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                        viewBox="0 0 36 36"
                    >
                        <path
                            d="M4 27h28v-3H4v3zm0-8h28v-3H4v3zM4 8v3h28V8H4z"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
