<div class="py-1_ min-h-[99vh] min-w-[99vw]">
    <div class="grid {{ leftPanelSize }} h-full">
        <div class="w-full h-full">
            <app-left-panel
                class="h-full w-full"
                (togglePanel)="toggleLeftPanel($event)"
                [fullSpace]="fullSpace"
            ></app-left-panel>
        </div>
        <div class="col-auto">
            <app-headers></app-headers>
            <app-tab-title></app-tab-title>
            <app-request></app-request>
            <app-response></app-response>
        </div>
    </div>
</div>
