<div class="">
    <div class="grid {{ leftPanelSize }} h-full">
        <div class="w-full h-full">
            <app-left-panel
                style="resize: horizontal"
                class="h-full w-full"
                (togglePanel)="toggleLeftPanel($event)"
                [fullSpace]="fullSpace"
            ></app-left-panel>
        </div>
        <div class="col-auto">
            <app-headers class=""></app-headers>
            <!-- <app-tab-title></app-tab-title> -->
            <app-request></app-request>
            <div id="_responseElement" class="">
                <app-response [fullscreen]="fullSpace"></app-response>
            </div>
        </div>
    </div>
</div>
