/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material'; */


::-webkit-scrollbar{
  
    width: 12px;
}

#_responseElement *{
   overflow-x: hidden;
}


::-webkit-scrollbar-thumb{
    border-radius: 9px;
    border: #999 1px solid;
    background-color: #333;
}

::-webkit-scrollbar-track{
    background-color: #999;
}


@supports (scrollbar-width: thin) {
    * {
        scrollbar-width: thin;
    }
}

@layer components {


    .surface {
        @apply dark:bg-surface-dark dark:text-white text-black bg-white
    }

    input {
        min-width: 100px
    }

}